body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4 {
  position:absolute;
  left:7px;
  top:7px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:15px;
  top:14px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:52px;
  top:8px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:151px;
  top:8px;
  width:87px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:7px;
  top:49px;
  width:361px;
  height:612px;
  overflow:hidden;
  touch-action:none;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:612px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
.u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:300px;
  color:#FFFFFF;
  text-align:left;
}
.u18 {
  position:absolute;
  left:2px;
  top:142px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:280px;
}
.u19 {
  position:absolute;
  left:6px;
  top:6px;
  width:187px;
  height:280px;
  color:#FFFFFF;
  text-align:left;
}
.u20 {
  position:absolute;
  left:2px;
  top:132px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21 {
  position:absolute;
  left:203px;
  top:126px;
  width:152px;
  height:165px;
}
.u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
.u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u24 {
  position:absolute;
  left:49px;
  top:0px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
.u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u26 {
  position:absolute;
  left:98px;
  top:0px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u28 {
  position:absolute;
  left:0px;
  top:20px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u30 {
  position:absolute;
  left:49px;
  top:20px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u32 {
  position:absolute;
  left:98px;
  top:20px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u34 {
  position:absolute;
  left:0px;
  top:40px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u36 {
  position:absolute;
  left:49px;
  top:40px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u38 {
  position:absolute;
  left:98px;
  top:40px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u40 {
  position:absolute;
  left:0px;
  top:60px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u42 {
  position:absolute;
  left:49px;
  top:60px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u44 {
  position:absolute;
  left:98px;
  top:60px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u46 {
  position:absolute;
  left:0px;
  top:80px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u48 {
  position:absolute;
  left:49px;
  top:80px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u50 {
  position:absolute;
  left:98px;
  top:80px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u52 {
  position:absolute;
  left:0px;
  top:100px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u54 {
  position:absolute;
  left:49px;
  top:100px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u56 {
  position:absolute;
  left:98px;
  top:100px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u58 {
  position:absolute;
  left:0px;
  top:120px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u60 {
  position:absolute;
  left:49px;
  top:120px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u62 {
  position:absolute;
  left:98px;
  top:120px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u64 {
  position:absolute;
  left:0px;
  top:140px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u66 {
  position:absolute;
  left:49px;
  top:140px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
.u68 {
  position:absolute;
  left:98px;
  top:140px;
  width:49px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u70 {
  position:absolute;
  left:203px;
  top:6px;
  width:152px;
  height:105px;
}
.u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
.u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
.u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
.u73 {
  position:absolute;
  left:74px;
  top:0px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
.u75 {
  position:absolute;
  left:0px;
  top:20px;
  width:74px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
.u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
.u77 {
  position:absolute;
  left:74px;
  top:20px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
.u79 {
  position:absolute;
  left:0px;
  top:40px;
  width:74px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
.u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
.u81 {
  position:absolute;
  left:74px;
  top:40px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
.u83 {
  position:absolute;
  left:0px;
  top:60px;
  width:74px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
.u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
.u85 {
  position:absolute;
  left:74px;
  top:60px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
.u87 {
  position:absolute;
  left:0px;
  top:80px;
  width:74px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
.u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
.u89 {
  position:absolute;
  left:74px;
  top:80px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
.u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u91 {
  position:absolute;
  left:0px;
  top:300px;
  width:362px;
  height:12px;
}
.u92 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:312px;
}
#u14-2 {
  position:absolute;
  left:0px;
  top:312px;
  width:362px;
  height:312px;
}
#u14-3 {
  position:absolute;
  left:0px;
  top:624px;
  width:362px;
  height:312px;
}
#u14-4 {
  position:absolute;
  left:0px;
  top:936px;
  width:362px;
  height:312px;
}
#u14-5 {
  position:absolute;
  left:0px;
  top:1248px;
  width:362px;
  height:312px;
}
#u14-6 {
  position:absolute;
  left:0px;
  top:1560px;
  width:362px;
  height:312px;
}
#u14-7 {
  position:absolute;
  left:0px;
  top:1872px;
  width:362px;
  height:312px;
}
#u14-8 {
  position:absolute;
  left:0px;
  top:2184px;
  width:362px;
  height:312px;
}
#u14-9 {
  position:absolute;
  left:0px;
  top:2496px;
  width:362px;
  height:312px;
}
#u14-10 {
  position:absolute;
  left:0px;
  top:2808px;
  width:362px;
  height:312px;
}
#u14-11 {
  position:absolute;
  left:0px;
  top:3120px;
  width:362px;
  height:312px;
}
#u14-12 {
  position:absolute;
  left:0px;
  top:3432px;
  width:362px;
  height:312px;
}
#u14-13 {
  position:absolute;
  left:0px;
  top:3744px;
  width:362px;
  height:312px;
}
#u14-14 {
  position:absolute;
  left:0px;
  top:4056px;
  width:362px;
  height:312px;
}
#u14-15 {
  position:absolute;
  left:0px;
  top:4368px;
  width:362px;
  height:312px;
}
#u14-16 {
  position:absolute;
  left:0px;
  top:4680px;
  width:362px;
  height:312px;
}
#u14-17 {
  position:absolute;
  left:0px;
  top:4992px;
  width:362px;
  height:312px;
}
#u14-18 {
  position:absolute;
  left:0px;
  top:5304px;
  width:362px;
  height:312px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:5616px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
