body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  color:#000000;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:311px;
  color:#666666;
  text-align:left;
}
.u7 {
  position:absolute;
  left:2px;
  top:148px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:290px;
}
.u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:194px;
  height:290px;
  color:#666666;
  text-align:left;
}
.u9 {
  position:absolute;
  left:2px;
  top:137px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10 {
  position:absolute;
  left:210px;
  top:141px;
  width:160px;
  height:157px;
}
.u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
.u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
.u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
.u13 {
  position:absolute;
  left:52px;
  top:0px;
  width:50px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
.u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
.u15 {
  position:absolute;
  left:102px;
  top:0px;
  width:53px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
.u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u17 {
  position:absolute;
  left:0px;
  top:20px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u19 {
  position:absolute;
  left:52px;
  top:20px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u21 {
  position:absolute;
  left:102px;
  top:20px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u23 {
  position:absolute;
  left:0px;
  top:42px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u25 {
  position:absolute;
  left:52px;
  top:42px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u27 {
  position:absolute;
  left:102px;
  top:42px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u29 {
  position:absolute;
  left:0px;
  top:64px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u31 {
  position:absolute;
  left:52px;
  top:64px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u33 {
  position:absolute;
  left:102px;
  top:64px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u35 {
  position:absolute;
  left:0px;
  top:86px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u37 {
  position:absolute;
  left:52px;
  top:86px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u39 {
  position:absolute;
  left:102px;
  top:86px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u41 {
  position:absolute;
  left:0px;
  top:108px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u42 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u43 {
  position:absolute;
  left:52px;
  top:108px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u45 {
  position:absolute;
  left:102px;
  top:108px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u47 {
  position:absolute;
  left:0px;
  top:130px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u49 {
  position:absolute;
  left:52px;
  top:130px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u51 {
  position:absolute;
  left:102px;
  top:130px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u52 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u53 {
  position:absolute;
  left:0px;
  top:311px;
  width:375px;
  height:23px;
}
.u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u55 {
  position:absolute;
  left:210px;
  top:22px;
  width:57px;
  height:19px;
}
.u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u57 {
  position:absolute;
  left:210px;
  top:88px;
  width:43px;
  height:16px;
}
.u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u59 {
  position:absolute;
  left:210px;
  top:46px;
  width:29px;
  height:16px;
}
.u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u61 {
  position:absolute;
  left:210px;
  top:67px;
  width:43px;
  height:16px;
}
.u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u63 {
  position:absolute;
  left:277px;
  top:22px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u65 {
  position:absolute;
  left:277px;
  top:46px;
  width:49px;
  height:16px;
}
.u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u67 {
  position:absolute;
  left:277px;
  top:67px;
  width:17px;
  height:16px;
}
.u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
.u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u69 {
  position:absolute;
  left:277px;
  top:88px;
  width:42px;
  height:16px;
}
.u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
.u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u71 {
  position:absolute;
  left:277px;
  top:107px;
  width:82px;
  height:16px;
}
.u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u4-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:334px;
}
#u4-2 {
  position:absolute;
  left:0px;
  top:334px;
  width:375px;
  height:334px;
}
#u4-3 {
  position:absolute;
  left:0px;
  top:668px;
  width:375px;
  height:334px;
}
#u4-4 {
  position:absolute;
  left:0px;
  top:1002px;
  width:375px;
  height:334px;
}
#u4-5 {
  position:absolute;
  left:0px;
  top:1336px;
  width:375px;
  height:334px;
}
#u4-6 {
  position:absolute;
  left:0px;
  top:1670px;
  width:375px;
  height:334px;
}
#u4-7 {
  position:absolute;
  left:0px;
  top:2004px;
  width:375px;
  height:334px;
}
#u4-8 {
  position:absolute;
  left:0px;
  top:2338px;
  width:375px;
  height:334px;
}
#u4-9 {
  position:absolute;
  left:0px;
  top:2672px;
  width:375px;
  height:334px;
}
#u4-10 {
  position:absolute;
  left:0px;
  top:3006px;
  width:375px;
  height:334px;
}
#u4-11 {
  position:absolute;
  left:0px;
  top:3340px;
  width:375px;
  height:334px;
}
#u4-12 {
  position:absolute;
  left:0px;
  top:3674px;
  width:375px;
  height:334px;
}
#u4-13 {
  position:absolute;
  left:0px;
  top:4008px;
  width:375px;
  height:334px;
}
#u4-14 {
  position:absolute;
  left:0px;
  top:4342px;
  width:375px;
  height:334px;
}
#u4-15 {
  position:absolute;
  left:0px;
  top:4676px;
  width:375px;
  height:334px;
}
#u4-16 {
  position:absolute;
  left:0px;
  top:5010px;
  width:375px;
  height:334px;
}
#u4-17 {
  position:absolute;
  left:0px;
  top:5344px;
  width:375px;
  height:334px;
}
#u4-18 {
  position:absolute;
  left:0px;
  top:5678px;
  width:375px;
  height:334px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:6012px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:325px;
  top:617px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u76 {
  position:absolute;
  left:325px;
  top:617px;
  width:50px;
  height:50px;
}
#u77 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.a {
  width:319px;
  height:567px;
}
#u1_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:567px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2.a {
  top:276px;
  width:315px;
}
#u3.a {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:567px;
}
#u4.a {
  width:320px;
  height:4374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u6.a {
  width:320px;
  height:228px;
}
.u6_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u7.a {
  top:106px;
  width:316px;
}
.u8.a {
  width:156px;
  height:212px;
}
.u8_img.a {
  width:156px;
  height:212px;
}
.u9.a {
  top:98px;
  width:152px;
}
.u10.a {
  left:15px;
  top:228px;
}
.u53.a {
  top:228px;
  width:320px;
  height:15px;
}
.u53_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u54.a {
  top:0px;
  width:316px;
}
.u55.a {
}
.u55_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u56.a {
}
.u57.a {
  top:139px;
}
.u57_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u58.a {
}
.u59.a {
  top:63px;
}
.u59_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u60.a {
}
.u61.a {
  top:99px;
}
.u61_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u62.a {
}
.u63.a {
  left:222px;
  top:42px;
}
.u63_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u64.a {
}
.u65.a {
  left:222px;
  top:79px;
}
.u65_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u66.a {
}
.u67.a {
  left:223px;
  top:116px;
}
.u67_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u68.a {
}
.u69.a {
  left:222px;
  top:155px;
}
.u69_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u70.a {
}
.u71.a {
  left:222px;
  top:173px;
}
.u71_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u72.a {
}
#u3_state0.a {
  width:319px;
  height:567px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u74.a {
  left:276px;
  top:525px;
  width:43px;
  height:43px;
}
#u74_img.a {
  width:43px;
  height:43px;
}
#u75.a {
  top:14px;
  width:39px;
}
#u76.a {
  left:276px;
  top:525px;
  width:43px;
  height:43px;
}
#u76_img.a {
  width:43px;
  height:43px;
}
#u77.a {
  top:14px;
  width:39px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.b {
  width:414px;
  height:736px;
}
#u1_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2.b {
  top:360px;
  width:410px;
}
#u3.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u4.b {
  width:414px;
  height:6624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u6.b {
  width:414px;
  height:343px;
}
.u6_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u7.b {
  top:164px;
  width:410px;
}
.u8.b {
  left:7px;
  top:7px;
  width:214px;
  height:320px;
}
.u8_img.b {
  width:214px;
  height:320px;
}
.u9.b {
  top:152px;
  width:210px;
}
.u10.b {
  left:232px;
  top:169px;
}
.u53.b {
  top:343px;
  width:414px;
  height:25px;
}
.u53_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u54.b {
  width:410px;
}
.u55.b {
  left:232px;
  top:29px;
}
.u55_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u56.b {
}
.u57.b {
  left:232px;
  top:95px;
}
.u57_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u58.b {
}
.u59.b {
  left:232px;
  top:53px;
}
.u59_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u60.b {
}
.u61.b {
  left:232px;
  top:74px;
}
.u61_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u62.b {
}
.u63.b {
  left:299px;
  top:29px;
}
.u63_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u64.b {
}
.u65.b {
  left:299px;
  top:53px;
}
.u65_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u66.b {
}
.u67.b {
  left:299px;
  top:74px;
}
.u67_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u68.b {
}
.u69.b {
  left:299px;
  top:95px;
}
.u69_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u70.b {
}
.u71.b {
  left:299px;
  top:114px;
}
.u71_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u72.b {
}
#u3_state0.b {
  width:414px;
  height:736px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u74.b {
  left:359px;
  top:680px;
  width:55px;
  height:55px;
}
#u74_img.b {
  width:55px;
  height:55px;
}
#u75.b {
  top:20px;
  width:51px;
}
#u76.b {
  left:359px;
  top:680px;
  width:55px;
  height:55px;
}
#u76_img.b {
  width:55px;
  height:55px;
}
#u77.b {
  top:20px;
  width:51px;
}
