body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  color:#000000;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  color:#666666;
  text-align:left;
}
.u7 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:203px;
}
.u8 {
  position:absolute;
  left:10px;
  top:6px;
  width:139px;
  height:203px;
  color:#666666;
  text-align:left;
}
.u9 {
  position:absolute;
  left:2px;
  top:94px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10 {
  position:absolute;
  left:0px;
  top:240px;
  width:320px;
  height:10px;
}
.u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u13 {
  position:absolute;
  left:159px;
  top:47px;
  width:43px;
  height:16px;
}
.u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u15 {
  position:absolute;
  left:159px;
  top:6px;
  width:29px;
  height:16px;
}
.u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u17 {
  position:absolute;
  left:159px;
  top:26px;
  width:43px;
  height:16px;
}
.u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u19 {
  position:absolute;
  left:113px;
  top:215px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u21 {
  position:absolute;
  left:205px;
  top:6px;
  width:49px;
  height:16px;
}
.u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23 {
  position:absolute;
  left:205px;
  top:26px;
  width:17px;
  height:16px;
}
.u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
.u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u25 {
  position:absolute;
  left:205px;
  top:47px;
  width:42px;
  height:16px;
}
.u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
.u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u27 {
  position:absolute;
  left:205px;
  top:66px;
  width:82px;
  height:16px;
}
.u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
.u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u29 {
  position:absolute;
  left:13px;
  top:214px;
  width:57px;
  height:19px;
}
.u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u31 {
  position:absolute;
  left:159px;
  top:92px;
  width:160px;
  height:135px;
}
.u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
.u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
.u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
.u34 {
  position:absolute;
  left:52px;
  top:0px;
  width:50px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
.u36 {
  position:absolute;
  left:102px;
  top:0px;
  width:53px;
  height:20px;
  color:#666666;
  text-align:left;
}
.u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
.u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u38 {
  position:absolute;
  left:0px;
  top:20px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u40 {
  position:absolute;
  left:52px;
  top:20px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u42 {
  position:absolute;
  left:102px;
  top:20px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u44 {
  position:absolute;
  left:0px;
  top:42px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u46 {
  position:absolute;
  left:52px;
  top:42px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u48 {
  position:absolute;
  left:102px;
  top:42px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u49 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u50 {
  position:absolute;
  left:0px;
  top:64px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u52 {
  position:absolute;
  left:52px;
  top:64px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u53 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u54 {
  position:absolute;
  left:102px;
  top:64px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u56 {
  position:absolute;
  left:0px;
  top:86px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u58 {
  position:absolute;
  left:52px;
  top:86px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u60 {
  position:absolute;
  left:102px;
  top:86px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
.u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u62 {
  position:absolute;
  left:0px;
  top:108px;
  width:52px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u63 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
.u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
.u64 {
  position:absolute;
  left:52px;
  top:108px;
  width:50px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
.u66 {
  position:absolute;
  left:102px;
  top:108px;
  width:53px;
  height:22px;
  color:#666666;
  text-align:left;
}
.u67 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:250px;
}
#u4-2 {
  position:absolute;
  left:0px;
  top:250px;
  width:320px;
  height:250px;
}
#u4-3 {
  position:absolute;
  left:0px;
  top:500px;
  width:320px;
  height:250px;
}
#u4-4 {
  position:absolute;
  left:0px;
  top:750px;
  width:320px;
  height:250px;
}
#u4-5 {
  position:absolute;
  left:0px;
  top:1000px;
  width:320px;
  height:250px;
}
#u4-6 {
  position:absolute;
  left:0px;
  top:1250px;
  width:320px;
  height:250px;
}
#u4-7 {
  position:absolute;
  left:0px;
  top:1500px;
  width:320px;
  height:250px;
}
#u4-8 {
  position:absolute;
  left:0px;
  top:1750px;
  width:320px;
  height:250px;
}
#u4-9 {
  position:absolute;
  left:0px;
  top:2000px;
  width:320px;
  height:250px;
}
#u4-10 {
  position:absolute;
  left:0px;
  top:2250px;
  width:320px;
  height:250px;
}
#u4-11 {
  position:absolute;
  left:0px;
  top:2500px;
  width:320px;
  height:250px;
}
#u4-12 {
  position:absolute;
  left:0px;
  top:2750px;
  width:320px;
  height:250px;
}
#u4-13 {
  position:absolute;
  left:0px;
  top:3000px;
  width:320px;
  height:250px;
}
#u4-14 {
  position:absolute;
  left:0px;
  top:3250px;
  width:320px;
  height:250px;
}
#u4-15 {
  position:absolute;
  left:0px;
  top:3500px;
  width:320px;
  height:250px;
}
#u4-16 {
  position:absolute;
  left:0px;
  top:3750px;
  width:320px;
  height:250px;
}
#u4-17 {
  position:absolute;
  left:0px;
  top:4000px;
  width:320px;
  height:250px;
}
#u4-18 {
  position:absolute;
  left:0px;
  top:4250px;
  width:320px;
  height:250px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:270px;
  top:518px;
  width:50px;
  height:50px;
  opacity:0.5;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71 {
  position:absolute;
  left:270px;
  top:518px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.a {
  width:375px;
  height:667px;
}
#u1_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2.a {
  top:326px;
  width:371px;
}
#u3.a {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4.a {
  width:375px;
  height:5616px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u6.a {
  width:375px;
  height:292px;
}
.u6_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u7.a {
  top:138px;
  width:371px;
}
.u8.a {
  top:8px;
  width:193px;
  height:275px;
}
.u8_img.a {
  width:193px;
  height:275px;
}
.u9.a {
  top:130px;
  width:189px;
}
.u10.a {
  top:292px;
  width:375px;
  height:20px;
}
.u10_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u11.a {
  top:2px;
  width:371px;
}
.u13.a {
  left:219px;
  top:74px;
}
.u13_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u14.a {
}
.u15.a {
  left:219px;
  top:32px;
}
.u15_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u16.a {
}
.u17.a {
  left:219px;
  top:53px;
}
.u17_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18.a {
}
.u19.a {
  left:286px;
  top:8px;
}
.u19_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u20.a {
}
.u21.a {
  left:286px;
  top:32px;
}
.u21_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u22.a {
}
.u23.a {
  left:286px;
  top:53px;
}
.u23_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u24.a {
}
.u25.a {
  left:286px;
  top:74px;
}
.u25_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u26.a {
}
.u27.a {
  left:286px;
  top:93px;
}
.u27_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u28.a {
}
.u29.a {
  left:219px;
  top:8px;
}
.u29_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u30.a {
}
.u31.a {
  left:213px;
  top:131px;
}
#u3_state0.a {
  width:375px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u69.a {
  left:332px;
  top:624px;
  width:43px;
  height:43px;
}
#u69_img.a {
  width:43px;
  height:43px;
}
#u70.a {
  top:14px;
  width:39px;
}
#u71.a {
  left:332px;
  top:624px;
  width:43px;
  height:43px;
}
#u71_img.a {
  width:43px;
  height:43px;
}
#u72.a {
  top:14px;
  width:39px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.b {
  width:414px;
  height:736px;
}
#u1_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2.b {
  top:360px;
  width:410px;
}
#u3.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u4.b {
  width:414px;
  height:6498px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u6.b {
  width:414px;
  height:343px;
}
.u6_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
.u7.b {
  top:164px;
  width:410px;
}
.u8.b {
  left:6px;
  width:214px;
  height:320px;
}
.u8_img.b {
  width:214px;
  height:320px;
}
.u9.b {
  top:152px;
  width:210px;
}
.u10.b {
  top:336px;
  width:414px;
  height:25px;
}
.u10_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u11.b {
  top:4px;
  width:410px;
}
.u13.b {
  left:247px;
  top:91px;
}
.u13_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u14.b {
}
.u15.b {
  left:247px;
  top:49px;
}
.u15_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u16.b {
}
.u17.b {
  left:247px;
  top:70px;
}
.u17_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18.b {
}
.u19.b {
  left:314px;
  top:25px;
}
.u19_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u20.b {
}
.u21.b {
  left:314px;
  top:49px;
}
.u21_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u22.b {
}
.u23.b {
  left:314px;
  top:70px;
}
.u23_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u24.b {
}
.u25.b {
  left:314px;
  top:91px;
}
.u25_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u26.b {
}
.u27.b {
  left:314px;
  top:110px;
}
.u27_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u28.b {
}
.u29.b {
  left:247px;
  top:25px;
}
.u29_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u30.b {
}
.u31.b {
  left:241px;
  top:174px;
}
#u3_state0.b {
  width:414px;
  height:736px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u69.b {
  left:359px;
  top:681px;
  width:55px;
  height:55px;
}
#u69_img.b {
  width:55px;
  height:55px;
}
#u70.b {
  top:20px;
  width:51px;
}
#u71.b {
  left:359px;
  top:681px;
  width:55px;
  height:55px;
}
#u71_img.b {
  width:55px;
  height:55px;
}
#u72.b {
  top:20px;
  width:51px;
}
