body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:102px;
  top:479px;
  width:171px;
  height:59px;
  font-size:36px;
  color:#FFFFFF;
}
#u10_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u12 {
  position:absolute;
  left:89px;
  top:194px;
  width:200px;
  height:150px;
  opacity:0.6;
}
#u13 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:99px;
  top:556px;
  width:177px;
  height:59px;
  font-size:36px;
  color:#FFFFFF;
}
#u15_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  white-space:nowrap;
  text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(204, 204, 204, 0.647058823529412);
}
